
 <main class="main__ua">
      <div class="main_content">
          <div class="button__lang"><button>UA</button>
          <button>EN</button></div>

        <div class="about_user">  
            <h1 class="about_name">Аліна Бондаренко</h1>
            <b class="about_position">FRONT - END DEVELOPER</b> 
          </div>
          <h3 class="title">Резюме</h3>
          <p class="about_description">
            Я Front-End розробник, який шукаю роботу на повний робочий день у компанії, мета якої — зробити повсякденне життя та бізнес простішими, продуктивнішими та зручнішими. Я добре володію HTML, CSS, JavaScript та React. Крім того, маю досвід роботи з Webpack, Gulp, Grunt.
            Хочу освоювати нові технології та готова працювати в команді. Я швидко навчаюсь, відповідальна і готова братися за складні завдання.          
          </p>
          <h3 class="title">Проектний досвід</h3>
          <ul>
            <li class="about_description">WebStudio  <a href="https://alinasavuyk.github.io/home8/">alinasavuyk.github.io/home8/</a></li>
            <li class="about_description">Image search<a href="https://alinasavuyk.github.io/goit-js-hw-11/">alinasavuyk.github.io/goit-js-hw-11/</a></li>
            <li class="about_description"><a href=""></a></li>
          </ul>
          <p class="about_description">
            alinasavuyk.github.io/home8/, Link [HTML, SASS, JS, Parcel] 
            A website with a responsive layout. Role: Team Lead. 
            FILMOTEKA, Link [HTML, SASS, JS, Handlebars, REST 
            API, AJAX, Parcel] 
            Application for choosing a movie. Role: Scrum Master 
            PRO TEST, Link [React, Redux, Axios, Styled Components, Node.js MongoDB] Application for testing knowledge of students who learn QA              
          </p>
          <h3 class="title">Досвід роботи</h3>
          <h4>Старший контролер-касир</h4>
          <p class="period"> АТ "Ощадбанк" <span class="line">|</span> 2015 - 2018 </p>
          <p class="about_description">
            Прийом усіх видів платежів клієнтів - фізичних та юридичних осіб;
            Залучення нових та обслуговування наявних клієнтів.
          </p>
          <h4>Фахівець з обслуговування клієнтів</h4>
          <p class="period">  АТ "Правекс Банк"<span class="line">|</span> 2018 - 2022 </p>
          <p class="about_description"> 
            Спілкування з клієнтами. Надання консультаційних та інформаційних послуг з банківських операцій.
            Залучення клієнтів.
            </p>
            <h3 class="title">Освіта</h3>
            <p class="about_description">
              Магістр ||  Фінанси та кредит, Банківська справа.</p>
            <p class="period">Національний університет "Полтавська політехніка імені Юрія Кондратюка"<span class="line">|</span>  2010 - 2015  </p>
            
               
            <h3 class="title">Додаткова освіта</h3>
            <p class="about_description">IT School GoIT (Kyiv)  </p>
            <p class="period">   2021 - 2022 <span class="line">|</span> Full Stack Developer </p>
               
                
      </div>
      <div class="sidebar">
          <img class="photo" src="./images/COUV.jpg" alt="photo">
          <div class="tech_skills"> 
        <h3 class="sidebar__title">Контактна інформація</h3>
          <ul class="list">
              <li><a  href="tel:+380666057044">+380666057044</a></li>
              <li><a href="mailto:alinasavuyk@mail.com">alinasavuyk@mail.com</a></li>
              <li><a href="https://github.com/alinasavuyk">https://github.com/alinasavuyk</a></li>
              <li><a href="https://goo.gl/maps/LNywkvDZjJAG6j9j9">Kremenchug, Ukraine</a></li>
          </ul>
          <h3 class="sidebar__title">TECH SKILLS</h3>
          <ul class="list">
              <li>HTML5/CSS3/SASS </li>
              <li>Responsive/Adaptive design GIT </li>
              <li>JavaScript</li>
              <li>JavaScript</li>
              <li>React</li>
              <li>Redux</li>
              <li>REST API</li>
              <li>Handlebars</li>
              <li>Webpack</li>
              <li>Parcel</li>
              <li>Node.js</li>
              <li>MongoDB</li>
        </ul>
        <h3 class="sidebar__title">SOFT SKILLS</h3>
        <ul class="list">
            <li>Growth Mindset</li>
            <li>Teamwork</li>
            <li>Creativity</li>
            <li>Good communication</li>
        </ul>
        <h3 class="sidebar__title">Мови</h3>
        <ul class="list">
            <li>Ангдійська - з словником</li>
            <li>Українська - рідна</li>
            <li>Російська - вільно</li>
        </ul>
      </div>
      </div>
    </main>
    {{/each}}